body {
  background-color: #f4f4f4;
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
}

#imageSrc,
#canvaspreview,
#canvasOutput {
  width: 35%;
  height: auto;
}

.container {
  width: 90%;
  margin: auto;
  text-align: center;
}

/**Hide the result container in the beggining**/
#resultDiv {
  display: none;
}

.slidecontainer {
  width: 70%; /* Width of the outside container */
  margin: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

@media (max-width: 1080px) {
  #imageSrc,
  #canvaspreview,
  #canvasOutput {
    width: 80%;
    height: auto;
  }

  .container {
    width: 100%;
  }
}
